@use "generales";
.encabezado-anuncio{
    transform: rotate(-90deg);
    position: absolute;
    top: 235px;
    left: -16%;
}
.anuncio__img-principal{
    grid-column: 1 / 2;
    grid-row: 1 / 4; 
    background-color: #ccc;
}
.anuncio__img-secundario1{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    overflow: hidden;
    background-color: #ccc;
    img{
        object-fit: fill;
    }
}
.anuncio__img-secundario2{
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    background-color: #ccc;
}
.anuncio__img-secundario3{
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    img{
        object-fit: fill;
    }
    background-color: #ccc;
}
.anuncio__img-secundario4{
    grid-column: 3 / 4;
    grid-row: 2 / 4;
    background-color: #ccc;
}
.anuncios__img-container{
    width: 96%;
    height: 500px;
    float: right;
    display: grid;
    grid-template-columns: 2fr repeat(2, 1.5fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
    position: relative;
}
.anuncios-container{
    position: relative;
}