.coleccion-zara{
    background-image: url(../multimedia/bg-coleccion.png);
    height: 70vh;
}
.boton-container--coleccion{
    border: 1px solid #fff;
}
.btn-coleccion{
    color: #222;
    background-color: #fff;
}
.coleccion-zara__img{
    max-width: 200px;
    overflow: hidden;
}