    @media screen and (max-width: 992px){
        .productos{
            width: 33.33%;
        }
    }
    @media screen and (max-width: 768px) {
        .productos{
            width: 50%;
        }
    }
    @media screen and (max-width: 576px) {
        .productos{
            width: 100%;
        }
    }